<nav>
    <div>saravanan computer shop</div>
    <ul>
        <li><a href="/"> Home</a></li>
        <li><a href="/categories/new">Add New Category</a></li>
        <li><a href="/items/new">Add New Item </a></li>
        
    </ul>
</nav>