<nav>
    <div class="mx-auto p-5 flex flex-row border justify-between gap-2 items-center bg-indigo-600 mb-5">
        <div class="text-2xl font-bold text-white">Pc Cafe - Inventory </div>
        <ul class="flex flex-row gap-5">
            <li><a href="/" class="bg-green-400 rounded-full px-4 py-2 font-bold hover:text-white"> Home</a></li>
            <li><a href="/categories/new" class="bg-green-400 rounded-full px-4 py-2 font-bold hover:text-white">Add New Category</a></li>
            <li><a href="/items/new" class="bg-green-400 rounded-full px-4 py-2 font-bold hover:text-white" >Add New Item </a></li>
            
        </ul>
    </div>
</nav>