<nav>
    <div class="mx-auto flex flex-row border  gap-2 bg-red-500">
        <div>Pc Cafe - Inventory </div>
        <ul class="flex flex-row">
            <li><a href="/"> Home</a></li>
            <li><a href="/categories/new">Add New Category</a></li>
            <li><a href="/items/new">Add New Item </a></li>
            
        </ul>
    </div>
</nav>